@model Agenda

@{
    ViewData["Title"] = "Agenda";
}


@*<div class="text-center">*@
<div class="text-center">
    <h3> @Model.Description - @Model.ScheduleDate?.ToShortDateString()</h3>
</div>
@*<div class="row">
    <div class="col-md-12">
        <label>Título:</label>
        @Html.TextBox("Description", Model.Description, new { @disabled="disabled", @class = "form-control sl9"})
    </div>
</div>*@
<div class="row">
    <div class="col-md-12">
        <label>Descrição:</label>
        @Html.TextBox("LongDescription", Model.LongDescription, new { @disabled="disabled", @class = "form-control sl9"})
    </div>
</div>
<div class="row">
    <div class="col-md-6" style="padding-top: 5px;">
        <label>Data</label>
        @Html.TextBox("Data", Model.ScheduleDate?.ToShortDateString(), new { @disabled="disabled", @class = "form-control sl6"})
    </div>
</div>
</br>
 <a type="button" class="btn btn-outline-secondary" href=@Url.ActionLink("Index", "Agenda")>Voltar</a>
<style>
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 40%;
        width: 40%;
    }

</style>






