@model List<Agenda>

@{
    ViewData["Title"] = "Agenda";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<div class="text-center">
    <h1 class="display-4">Minha Agenda Minha Vida</h1>
</div>
<div class="row">
    <table class="table">
        <thead>
            <th>ID</th>
            <th style="text-align:center">Descrição</th>
            <th style="text-align:center">Data Marcação</th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td style="text-align:center">@item.Description</td>
                    <td style="text-align:center">@item.ScheduleDate?.ToShortDateString()</td>
                    <td><a type="button" class="btn btn-primary" href=@Url.ActionLink("Detail", "Agenda", new {Id = @item.Id}) >Detalhes</a></td>
                    <td><a type="button" class="btn btn-primary" href=@Url.ActionLink("Edit", "Agenda", new {Id = @item.Id}) >Editar</a></td>
                    @*<td><a type="button" class="btn btn-danger" href=@Url.ActionLink("Delete", "Agenda", new {Id = @item.Id}) >Remover</a></td>*@
                    <td><a type="button" class="bi bi-trash" href=@Url.ActionLink("Delete", "Agenda", new {Id = @item.Id}) ></a></td>
                </tr>
                
            }
        </tbody>
    </table>
    <div class="form-group">
        <a type="button" class="btn btn-outline-success" href=@Url.ActionLink("Create", "Agenda") ><i class="bi bi-plus-lg"></i></a>
    </div>
</div>







