@using MinhaAgendaMinhaVida.Models

@model Agendamento
@{
}

@*<div id="dialogAgendamento" role="dialog" class="smart-form" style="min-width: 550px;" title="Agendamento">

</div>*@

<div>
    @Html.Hidden("AgendamentoId", Model.Id)
    @Html.Hidden("UsuarioId", Model.UsuarioId)

    <h3 style="text-align:center;">Agendamento</h3>
    <table>
        <tr>
            <td>
                <label>Data</label>
            </td>
            <td>
                <label class="input">
                    @Html.EditorFor(model => model.Data, new { id="dataAgendamento", @class = "date" })
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Descrição</label>
            </td>
            <td>
                <label class="input">
                    @Html.TextBoxFor(model => model.Descricao)
                </label>            
            </td>
        </tr>
    </table>
    <button onclick="fecharModal()">Cancelar</button>
    <button onclick="salvar()">OK</button>
</div>
<script src="@Url.Content("~/js/Agendamento.js")" type="text/javascript"></script>

